*{
  padding: 0;
  margin: 0;
}

h1{
  background-color: #081b31;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.choice{
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  
}

.choices{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap:3rem
}

.choice:hover{
  cursor: pointer;
  background-color: #081b31;
}

.score-board{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score{
  font-size: 4rem;
}

.msg-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#msg{
  background-color: #081b31;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  display: inline;
  border-radius: 1rem;
}
